/* Custom CSS for Phat Tails documentation */

/* Increase margin at top of markdown cells */
p {
  margin-top: .5em;
}

/* Increase img size */
img {
  display: block !important;
  margin: 0 auto !important;
  /* width: 65em !important; */
  max-width: 175% !important;
}

/* hides cell numbering of input and output code cells */
div.prompt > .highlight > pre {
  display: none !important;
}

/* More space at the bottom of statsmodels summaries */
div.output_area.rendered_html.docutils.container {
  margin-bottom: .75em;  
}

/* More space at the bottom of input cells */
div.input_area.highlight-ipython3.notranslate {
  margin-bottom: .75em;  
}

/* More space at the bottom of output cells */
div.output_area.stderr.docutils.container {
  margin-bottom: .75em;  
}